#quiz-container{
    display: flex;
    justify-content: center;
    height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
    overflow: scroll;
}

#quiz-questions-container{
    display: flex;
    flex-direction: column;
    width: 500px;
}

#quiz-questions-form{
    flex:1;
}

#quiz-container-footer{
    display: flex;
}

#quiz-container-footer > *{
   flex: 1;
   height: 40px;
}

#quiz-container-footer .footer-item{
  font-size: 15px;
  background-color: #fff;
  outline: none;
  border:none;
}

#quiz-container-footer .footer-item:nth-child(2){
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

@media screen and (max-width: 600px) {
    #quiz-container{
        height: calc(100vh - 173px);
        max-height: calc(100vh - 110px);
    }
    #quiz-questions-container{
        width: 100%;
    }
}